*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url('./assets/walpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}